@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss" ;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none!important;
    font-family: "Jost", sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none!important;
}
.fs-14{
    font-family: 14px!important;
}
.fs-16{
    font-size: 16px!important;
}
.fs-20{
    font-size: 20px!important;
}
.fs-24{
    font-size: 24px!important;
}
.fw-100{
    font-weight: 100!important;
}
.fw-200{
    font-weight: 200!important;
}
.fw-300{
    font-weight: 300!important;
}
.fw-400{
    font-weight: 400!important;
}
.fw-500{
    font-weight: 500!important;
}

.fw-600{
    font-weight: 600!important;
}.fw-700{
    font-weight: 700!important;
}
.fw-800{
    font-weight: 800!important;
}

.main-text{
    color: #1c1D1b!important;
}
.side-text{
    color: #9A9C9A!important;
}
.main-bg-secondary{
    background-color: #072645!important;
}
.box-bg{
    background-color: #eef2f3!important;
}
.main-bg{
    background-color: #f97101!important;
}
.green-text{
    color: #699c47!important;
}
.color-secondary{
    color: #777777!important;
}
.white-color{
    color: #ffffff!important;
}
.pt-70{
    padding-top: 70px;
}
.pb-70{
    padding-bottom: 70px;
}
.service-box{
    border-right: 1px solid #e5ddd9;
    padding: 0 15px 0 15px;
}
.services:last-child{
    border-right: none!important;
}
.service-box a{
    height: 70px !important;
    width: 70px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #eef2f3!important;
}
.contact-section{
    background-color: #eef2f3!important;
    padding: 90px;
}
.contact-section .support-z h2{
    font-weight: 600;
    letter-spacing: 1.4px;
}
.contact-section .support-p p{
    color: #1c1D1b!important;
    font-size:18px;
}
.contact-section .btn-support{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #699c47;
    border-radius: 5px;
}
.custom-navbar {
    background: white;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
  }
  
  .logo {
    height: 60px;
    object-fit: contain;
  }
  
  .nav-icon {
    font-size: 20px;
    cursor: pointer;
  }
  
  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }